<div class='container' role="main" xmlns="http://www.w3.org/1999/html">

  <%= render_breadcrumbs :category => @category, :tag => @tag, :filter => @query %>

  <div class='row'>
    <div class='span9'>

      <% @posts.each do |post| %>
        <%= post.render({ preview: true }) %>
      <% end %>



    </div>

    <div class='span3'>

    </div>

  </div>
</div>

