<div class='container' role="main">
<%= render_breadcrumbs :post => @post, :filter => @query %>
  <div class='row'>
    <div class='span9'>
        <%= @post.render %>
    </div>
    <div class='span3'>
    </div>
  </div>
</div>

